/*Another file to avoid merge conflicts*/

/***********Home Page Styles ****************/

.row.popular-petitions {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
}

.col-md-4.home-petitions {
    padding-left: 30px;
}

/************ Latest Activity Styles **********/


.media a img.rounded-x {
    width: 50px;
    height: 50px;
    cursor: hand;
}

.media p a {
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.media p a:hover {
    color: #72c02c;
    cursor: pointer;
}

span.media-heading {
    font-size: 12px;
    padding-bottom: 5px;
}

.media-body p {
    margin-top: 5px;
}

/************* Petition Page Styles ***************/

h2.dotted-header {
    margin-bottom: 0px;
}

/*********** End of petition page styles *************/

/******************************** Admin Page styles *************************/

.panel-body a.padding5 {
    padding: 5px;
    color: #72c02c;
}

.col-md-8.editpetitions {
    padding-bottom: 15px;
}

li button.btn-success a {
    color: white;
}

.panel-body p a {
    color: #555;
}

.panel hr.nomargin {
    margin: 0px;
}

/*******************************Profile Page Styles *********************************/

table thead tr th.width50 {
    width: 50%;
}

table thead tr th.width10 {
    width: 10%;
}

table thead tr th.width40 {
    width: 40%;
}

div.empty {
    text-align: center;
}

div.empty button a {
    color: White;
}

p.margintop10 {
    margin-top: 10px;
}

/******************************** Mobile footer Styles ******************************/

footer.navbar-default.navbar-fixed-bottom
{
    background-color: white;
}

footer.navbar-default.navbar-fixed-bottom p
{
    margin:0;
}

.mobile-footer ul li.pull-left {
    font-size: larger;
}

.mobile-footer ul li.pull-left {
    padding-top: 5px;
}

.mobile-footer ul li.pull-right {
    padding-top: 5px;
}

.mobile-footer ul li i.fa.fa-check-circle {
    color: #72c02c;
}

.mobile-footer ul {
    padding-right: 15px;
    padding-left: 15px;
}


/******************** Contact Us styles **********************/

textarea {
    resize: none;
}




