/*Another file to avoid merge conflicts*/

/***********Home Page Styles ****************/


.row.popular-petitions {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 20px;
}

.col-md-4.home-petitions {
    padding-left: 30px;
}

@media (min-width: 768px) {
    .col-xs-12.col-sm-6.noleftpadding {
        padding-left: 0;
        padding-right: 80px;
        padding-top: 100px;
    }
}

.carousel-v1 .carousel-arrow a i {
    background: #72c02c;
}

/************ Latest Activity Styles **********/


.media a img.rounded-x {
    width: 50px;
    height: 50px;
    cursor: hand;
}

.media p a {
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.media p a:hover {
    color: #72c02c;
    cursor: pointer;
}

span.media-heading {
    font-size: 12px;
    padding-bottom: 5px;
}

.media-body p {
    margin-top: 5px;
}

/************* Petition Page Styles ***************/

h2.dotted-header {
    margin-bottom: 0px;
}

/*********** End of petition page styles *************/

/******************************** Admin Page styles *************************/

.panel-body a.padding5 {
    padding: 5px;
    color: #72c02c;
}

.col-md-8.editpetitions {
    padding-bottom: 15px;
}

li button.btn-success a {
    color: white;
}

.panel-body p a {
    color: #555;
}

.panel hr.nomargin {
    margin: 0px;
}

/*******************************Profile Page Styles **********************************/



#collapseAvatar.col-md-12 ul li label img.img-responsive {
    width: 80px;
    height: auto;
}

button#custombtn {
    position: relative;
    bottom: 18px;
}

.col-md-9.input-group {
    padding-left: 5px;
}

.list-inline li input[type="file"] {
    width: 180px;
}

#collapseAvatar.col-md-12 input[type="radio"] {
    display: none !important;
}

#collapseAvatar.col-md-12 input[type="radio"]:checked + label {

    border: 3px solid #72c02c;

}

table thead tr th.width50 {
    width: 50%;
}

table thead tr th.width10 {
    width: 10%;
}

table thead tr th.width40 {
    width: 40%;
}

div.empty {
    text-align: center;
}

div.empty button a {
    color: White;
}

p.margintop10 {
    margin-top: 10px;
}

/******************************** Mobile footer Styles ******************************/

footer.navbar-default.navbar-fixed-bottom
{
    background-color: #f2f2f2;
    padding: 0.1em 0;
}

footer.navbar-default.navbar-fixed-bottom p
{
    margin:0;
}

.mobile-footer ul li.pull-left {
    font-size: larger;
    padding-top: 15px;
}

.mobile-footer ul li.pull-right {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.mobile-footer ul li i.fa.fa-check-circle {
    color: #72c02c;
}

.mobile-footer ul {
    padding-right: 15px;
    padding-left: 15px;
}

.mobile-footer ul li.col-xs-7.col-sm-9 {
    text-align: center;
}


/******************** Contact Us styles **********************/

textarea {
    resize: none;
}

/********************** Mobile Comment Page **********************************/

.panel-u button.btn-u-default a {
    color: white;
}

.panel-u button.btn-u-default {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    color: white;
}






